<h1> this is the todo page </h1>

<!-- <ul>
    <li>temporary todo list item A</li>
    <li>temporary todo list item B</li>
</ul> -->

<ul>
    {% for todo_item in all_items %}
        <li> {{ todo_item.content }}
        <form action ="/deleteTodo/{{todo_item.id}}/" 
              style ="display: inline;"
              method="post">{% csrf_token %}
            <input value = "delete" type="submit" name="Delete"/>
        </form> 
        </li>
    {% endfor %}
</ul>

<form action ="/addTodo/" method="post">{% csrf_token %}
    <input type="text" name="content"/>
    <input value = "add" type="submit" name="Add"/>
</form>
